.tourtrans_paragraph_as_list_item
{
	color: rgb(89, 89, 89);
	margin: 5px 0px 0px 2px;
	padding: 1px 0px 0px 19px;
	border: 0px none;
	outline: currentcolor none 0px;
	font-weight: inherit;
	font-style: inherit;
	font-size: 12px;
	vertical-align: baseline;
	line-height: 16.8px;
	background-image: url("http://www.tourtrans.ru/images/tourtrans/tourdescr_bullet.png");
	background-position: 0% 0%;
	background-repeat: no-repeat;

	font-family: Arial, Helvetica, sans-serif;
}


.list_in_style_tourtrans
{
	color: rgb(89, 89, 89);
	margin: 10px 0px 0px;
	padding: 0px 0px 0px 20px;
	border: 0px none;
	outline: currentcolor none 0px;
	font-weight: inherit;
	font-style: inherit;
	font-size: 12px;
	vertical-align: baseline;
	line-height: 25px;
	list-style-image: url("http://www.tourtrans.ru/images/tourtrans/tourdescr_bullet.png");

	font-family: Arial, Helvetica, sans-serif;
}

.list_in_style_tourtrans li
{
	margin: auto;
	padding-left: auto
}


.tourtrans_day_head5
{
	font-size: 12px;
	font-weight: bold;
	color: #404040;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-style: inherit;
	font-family: Arial, Helvetica, sans-serif;
	display: inline;

}

.tourtrans_day_town
{
	display: inline;
	color: #FD6601;
	font-style: italic;
	padding-left: 3px; 
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-size: 100%;
	font-family: Arial, Helvetica, sans-serif;
	vertical-align: baseline;
}


.tourtans_info_inline
{
	color: rgb(79, 79, 79);
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	margin: inherit;
	padding: inherit;
	border: 0;
	outline: 0;
	font-family: Arial, Helvetica, sans-serif;
	vertical-align: baseline;	
	display: inline;
}


.tourtrans_critical_info_inline
{
	color: #FF0000;
	font-size: 12px;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-family: Arial, Helvetica, sans-serif;
	vertical-align: baseline;	
	display: inline;

}

.tourtans_critical_warn_inline
{
	color: #FF0000;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-family: Arial, Helvetica, sans-serif;
	vertical-align: baseline;	
	display: inline;
}

.tourtrans_link_color{
	color: #395082;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 16.8px;
	vertical-align: baseline;
	letter-spacing: normal;
	word-spacing: 0px;
	margin: auto;
	padding: auto;
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    text-decoration: underline rgb(57, 80, 130);
    text-align: left;
    text-indent: 0px;

}



